.DS_Store
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/ext/mmdb/.RUBYARCHDIR.time
/ext/mmdb/Makefile
/ext/mmdb/mkmf.log
/ext/mmdb/mmdb.bundle
/ext/mmdb/mmdb.o
/pkg/
/spec/reports/
/tmp/
